<h3 id=order_by_name><%= link_to "Order by artist name", :sort => "name"  %></h3>

<% @artists.each do |artist| %>

<h1>Name: <%= artist.name %></h1>
<h2>Date of Birth: <%= artist.birth_date %></h2>
<h2>Country of Origin: <%= artist.country_of_origin %></h2>

<% end %>
